.c-card {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.1rem #333333;
  display: grid;
  gap: 0;
  grid-template-rows: subgrid;
  grid-template-areas:
    "image"
    "content"
    "action";
  grid-row: span 3;
  overflow: hidden;
}
.c-card--horizontal {
  grid-template-columns: subgrid;
  grid-column: span 2;
  grid-template-areas:
    "image content"
    "action action";
}
.c-card__image {
  grid-area: image;
}
.c-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  grid-area: content;
  padding: calc(var(--gutter) * 2);
}
.c-card__title {
  color: var(--c-primary);
  font-size: 1.6rem;
  font-weight: 700;
}
.c-card__action {
  border-top: 0.1rem solid var(--c-gray);
  grid-area: action;
  width: 100%;

  a {
    display: inline-flex;
    align-items: center;
    padding: calc(var(--gutter) * 2);
    text-align: center;
    width: 100%;

    &:hover {
      opacity: 0.8;
    }

    &::after {
      font-family: "Material Symbols Outlined";
      font-weight: normal;
      font-style: normal;
      font-size: 1.5em;
      display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      content: "shopping_cart";
      margin-left: auto;
    }
  }
}
